@import src/sass/vars

.navbar_container
    display: flex
    justify-content: space-between
    align-items: center
    height: 80px
    padding: 10px
    background-color: $color-primary-yellow
.navbar_logo
    order: 1
    width: 20%
    &_img
        height: 40px
.navbar_search
    order: 2
    width: 80%
    &_group
        display: flex
        align-items: center
        width: 100%
        flex: 5 0px
        &_input
            width: 80%
            padding: 8px
            border: none
            border-radius: 4px 0px 0px 4px
            margin-right: 0px
           
        &_icon
            cursor: pointer;
            background-color: $color-secondary-gray-light
            padding: 8px
            border-radius: 0px 4px 4px 0px
            color: $color-secondary-gray-dark
    
        
        

